In [1]:
import pandas as pd
import math

In [2]:
dff = pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv')

In [3]:
df2 = pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv', nrows=6000000, skiprows=1, header=None)

df2[4] = df2[4].astype(int)
df1 = df2

df1 = df2.loc[(df2[16] == 2021) & (df2[18] == 9) & (df2[4] == 1)]
df1 = df1.rename(columns={'x': 'y'}).reset_index()

result1 = df1.groupby([1], group_keys=False).sum({0, 4})
result1

,index,4,5,6,7,8,9,10,11,12,...,50,51,52,53,54,55,56,57,59,60
1,,,,,,,,,,,,,,,,,,,,,
Air Wisconsin Airlines Corp,683758616,286,0,400521,5855.0,68.0,50.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,442558,0.0,0.0,0.0,552,0.0
Alaska Airlines Inc.,316002633,127,0,155671,11362.0,300.0,272.0,0.0,0.0,0.0,...,32.0,1538.0,0.0,0.0,173174,0.0,0.0,0.0,668,9.0
Allegiant Air,108635292,50,0,77671,2002.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,88432,0.0,0.0,0.0,192,0.0
American Airlines Inc.,1850050215,759,0,1136724,31308.0,795.0,755.0,0.0,0.0,0.0,...,45.0,4574.0,0.0,0.0,1245698,0.0,0.0,0.0,2664,27.0
Capital Cargo International,326808908,132,0,204060,16761.0,120.0,46.0,0.0,0.0,0.0,...,64.0,2649.0,0.0,0.0,220385,0.0,0.0,0.0,246,18.0
Comair Inc.,450475317,202,0,312212,18019.0,505.0,443.0,0.0,0.0,0.0,...,46.0,2567.0,0.0,0.0,343412,0.0,0.0,0.0,485,27.0
"Commutair Aka Champlain Enterprises, Inc.",481982140,202,0,250981,1757.0,0.0,-1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,280035,0.0,0.0,0.0,382,0.0
Delta Air Lines Inc.,671848549,295,0,406149,21814.0,877.0,874.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,458766,0.0,0.0,0.0,1382,0.0
Endeavor Air Inc.,191409116,80,0,129576,36930.0,948.0,903.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,144029,0.0,0.0,0.0,197,0.0
Envoy Air,296242775,135,0,224922,6789.0,151.0,136.0,0.0,0.0,0.0,...,11.0,1336.0,0.0,0.0,242594,0.0,0.0,0.0,267,9.0
Frontier Airlines Inc.,170788391,79,0,113240,3500.0,0.0,-15.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,123269,0.0,0.0,0.0,309,0.0
"GoJet Airlines, LLC d/b/a United Express",1021721686,428,0,610367,7544.0,369.0,359.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,678098,0.0,0.0,0.0,906,0.0
Hawaiian Airlines Inc.,78459681,36,0,47811,1810.0,0.0,-5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,53934,0.0,0.0,0.0,143,0.0
Horizon Air,97104009,42,0,61829,1687.0,0.0,-3.0,0.0,0.0,0.0,...,16.0,714.0,0.0,0.0,67736,0.0,0.0,0.0,129,9.0
JetBlue Airways,1220378295,487,0,700821,55337.0,4568.0,4487.0,0.0,0.0,0.0,...,35.0,3939.0,0.0,0.0,763126,0.0,0.0,0.0,2276,18.0
Mesa Airlines Inc.,419985533,160,0,218305,2452.0,47.0,46.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,248389,0.0,0.0,0.0,492,0.0
Republic Airlines,1868146591,704,0,1018606,37952.0,1435.0,1378.0,0.0,0.0,0.0,...,110.0,6753.0,0.0,0.0,1168992,0.0,0.0,0.0,2258,27.0
SkyWest Airlines Inc.,674436698,297,0,429724,8856.0,301.0,290.0,0.0,0.0,0.0,...,99.0,6635.0,0.0,0.0,478976,0.0,0.0,0.0,710,45.0
Southwest Airlines Co.,5970257766,2326,0,3064070,19764.0,608.0,574.0,0.0,0.0,0.0,...,28.0,1978.0,0.0,0.0,3472230,0.0,0.0,0.0,7666,18.0
Spirit Air Lines,699600013,316,0,432365,15832.0,537.0,528.0,0.0,0.0,0.0,...,61.0,4768.0,0.0,0.0,453529,0.0,0.0,0.0,1243,27.0
United Air Lines Inc.,1484376770,633,0,824164,21972.0,505.0,487.0,0.0,0.0,0.0,...,17.0,1646.0,0.0,0.0,931411,0.0,0.0,0.0,3206,9.0

In [4]:
# df = pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv', nrows=100)
# 788984, 4733904
name = pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv', index_col=0, nrows=0).columns.tolist()
# name=df.columns.tolist()
name.insert(0,'FlightDate')

In [5]:
fort=pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv',
                index_col=0)
fort.head()

,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
FlightDate,,,,,,,,,,,,,,,,,,,,,
2021-03-03,SkyWest Airlines Inc.,SGU,PHX,False,False,724,714.0,0.0,-10.0,818.0,...,724.0,813.0,5.0,843,-25.0,0.0,-2.0,0800-0859,2,0.0
2021-03-03,SkyWest Airlines Inc.,PHX,SGU,False,False,922,917.0,0.0,-5.0,1031.0,...,940.0,1028.0,3.0,1040,-9.0,0.0,-1.0,1000-1059,2,0.0
2021-03-03,SkyWest Airlines Inc.,MHT,ORD,False,False,1330,1321.0,0.0,-9.0,1501.0,...,1336.0,1445.0,16.0,1530,-29.0,0.0,-2.0,1500-1559,4,0.0
2021-03-03,SkyWest Airlines Inc.,DFW,TRI,False,False,1645,1636.0,0.0,-9.0,2002.0,...,1703.0,1955.0,7.0,2010,-8.0,0.0,-1.0,2000-2059,4,0.0
2021-03-03,SkyWest Airlines Inc.,PHX,BFL,False,False,1844,1838.0,0.0,-6.0,1903.0,...,1851.0,1900.0,3.0,1925,-22.0,0.0,-2.0,1900-1959,2,0.0

In [6]:
df = pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv', nrows=6000000, names=name)
# print(df)

data = df[['Airline', 'Cancelled', 'Year', 'Month']]
data = data[(data['Year'] == 2021) & (data['Month'] == 9) & (data['Cancelled'] == True)]

C:\Users\Joey\AppData\Local\Temp\ipykernel_8216\1656266578.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,23,25,27,30,31,32,33,36,38,39,40,41,44,46,47,48,50,51,52,53,54,55,56,57,59,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../../../Assignments/Assignment2/Combined_Flights_2021.csv', nrows=6000000, names=name)

In [7]:
data = data['Airline'].value_counts()
data = data.to_frame()
data.reset_index().values.tolist()

[['Southwest Airlines Co.', 2326],
 ['American Airlines Inc.', 759],
 ['Republic Airlines', 704],
 ['United Air Lines Inc.', 633],
 ['JetBlue Airways', 487],
 ['GoJet Airlines, LLC d/b/a United Express', 428],
 ['Spirit Air Lines', 316],
 ['SkyWest Airlines Inc.', 297],
 ['Delta Air Lines Inc.', 295],
 ['Air Wisconsin Airlines Corp', 286],
 ['Comair Inc.', 202],
 ['Commutair Aka Champlain Enterprises, Inc.', 202],
 ['Mesa Airlines Inc.', 160],
 ['Envoy Air', 135],
 ['Capital Cargo International', 132],
 ['Alaska Airlines Inc.', 127],
 ['Endeavor Air Inc.', 80],
 ['Frontier Airlines Inc.', 79],
 ['Allegiant Air', 50],
 ['Horizon Air', 42],
 ['Hawaiian Airlines Inc.', 36]]

In [8]:
mapping_output=data.reset_index().values.tolist()
reduce_out = pd.DataFrame()

reduce_out = pd.concat([reduce_out, pd.DataFrame(mapping_output)])
result=reduce_out.groupby([0]).sum().reset_index()
print(result.loc[result[1].idxmax()])

0    Southwest Airlines Co.
1                      2326
Name: 18, dtype: object

In [9]:
data= dff[['Airline', 'Cancelled','Year','Month']]
data=data[(data['Year']==2021)&(data['Month']==9)&(data['Cancelled']==True)]
data['Airline'].value_counts().index.tolist()[0]

'Southwest Airlines Co.'

In [10]:
data1=dff[['Airline', 'Diverted','Year','Month','DayofMonth']]
data1=data1[(data1['Year']==2021)&(data1['Month']==11)&(data1['DayofMonth']>=20)&(data1['DayofMonth']<=30)&(data1['Diverted']==True)]
data1[data1.columns[0]].count()

263

In [11]:
data1=df[['FlightDate','Airline','Diverted']]
data1=data1[(data1['FlightDate']>='2021-11-20')&(data1['FlightDate']<='2021-11-30')&(data1['Diverted']==True)]
data1.reset_index().values.tolist()

mapping_output=data1.reset_index().values.tolist()
reduce_out = pd.DataFrame()
reduce_out = pd.concat([reduce_out, pd.DataFrame(mapping_output)])
result=reduce_out[reduce_out.columns[0]].count()
result

263

In [12]:
data2 = df[['AirTime', 'OriginCityName','DestCityName']]
data2=data2[(data2['OriginCityName']=='Nashville, TN')&(data2['DestCityName']=='Chicago, IL')]
data2.reset_index().values.tolist()




mapping_output=data2.values.tolist()
reduce_out = pd.DataFrame()
reduce_out = pd.concat([reduce_out, pd.DataFrame(mapping_output)])
reduce_out[0].astype(float).dropna().mean()
# type(reduce_out[0])

72.4691380569759

In [16]:
data3 = df[['DepTime','FlightDate']]
data3[(data3['DepTime'].isna())]
data3.reset_index().values.tolist()

mapping_output=data3.values.tolist()
reduce_out = pd.DataFrame()
reduce_out = pd.concat([reduce_out, pd.DataFrame(mapping_output)])
pd.DataFrame(reduce_out.iloc[1: , :].groupby(1)).count()[0]

# pd.DataFrame(data3.groupby(['FlightDate'])).count()[0]

               0           1
0        DepTime  FlightDate
1          714.0  2021-03-03
2          917.0  2021-03-03
3         1321.0  2021-03-03
4         1636.0  2021-03-03
...          ...         ...
5999995    847.0  2021-06-25
5999996    923.0  2021-06-26
5999997    811.0  2021-06-27
5999998    759.0  2021-06-28
5999999    805.0  2021-06-29

[6000000 rows x 2 columns]

In [18]:
pd.DataFrame(reduce_out.iloc[1: , :].groupby(1)).count()[0]

0    365
1    365
dtype: int64